body{
    margin: 0;
    padding: 0%;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/******************Navbar*******************************/
.navbar{
    background-color: black;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.navbar.trans {
    background:transparent !important;
    background-color: rgba(0,0,0,0.0);
   /* box-shadow: 0px 0px;*/
    border-width: 0px;
   /* -webkit-box-shadow: 0px 0px;   */
 }
 /*************************Carousel******************************/
 .carousel-item.active,
 .carousel-item-next,
 .carousel-item-prev{
     display:block;
 }

 .language-img{
     width: 10%;
 }
 .language-img-main{
    width: 30%;
    border-radius: 50%;
    margin-bottom: 5%;
}
 /************************body******************************/
 .headers{
     color: black;
     margin-top: 5%;
     font-size: 3em;
 }
.projects{
    background-color:#f2f2f2;
    width: 100%;
    height: 100%;
}
.body-section{
    padding-top: 30%;
}
@media(max-width: 767px){
    .line{
        display: none;
    }
}

.intro{
    padding-top: 20%;
    max-width: 100%;
}
hr {
background-color: currentColor;
  min-width: 50%;
  height: 2px;
  border: none;
  margin: 10%;
  position: relative;

}
.line{
    border-left: 3px solid black;
    height: 200px;
    margin-left: 48%;
}
.point::before{
    content: ' \25CF';
    font-size: 20px;
}
.work{
    color: #f2f2f2;
}
/*************************Footer*****************************/
social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    color: white;
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
   Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-ln:hover{
    color: #43699a;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
.txt-railway{
    color: white;
}